<a href="https://colab.research.google.com/github/hasinmallick/Python_Basics_Assignment1/blob/main/hasin_20229029.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Problem 1:
### Python program to count the number of characters (character frequency) in a string

In [ ]:
def char_count(my_string):
    char_dict = {}
    for char in my_string:
        if char not in char_dict:
            char_dict[char] = 1
        else:
            char_dict[char] += 1
    return char_dict
 
user_string = input()
char_count(user_string)

google.com

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

# Problem 2:
### Python program to check if a given key already exists in a dictionary

In [ ]:
def key_exists(my_dict, key):
    if key in my_dict:
        print("Key already exists")
    else:
        print("Key does not exist")

my_dict = {'p': 'python', 'c': 'c++', 'j': 'java', 'g': 'golang', }
key = input("Enter the key: ")
key_exists(my_dict, key)

Enter the key: o
Key does not exist

# Problem 3:
### Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers.

In [6]:
def list_tuple(my_string):
    list_string = my_string.split(',')
    final_list = []
    
    # if there is a whitespave after ',', before any elements, it will remove that whitespace
    for item in list_string:
        stripped = item.strip()
        num_stripped = int(stripped)
        final_list.append(num_stripped)
    
    string_tuple = tuple(final_list)
    return final_list, string_tuple

user_input = input()
string_list, string_tuple = list_tuple(user_input)
print('List: ', string_list)
print('Tuple: ', string_tuple)

1234
List:  [1234]
Tuple:  (1234,)

# Problem 4:
### Python program to calculate the number of days between two dates
###Sample Dates : (2015,8,2)(2015,8,11)

In [5]:
from datetime import date
date1=date(2015,8,2)
date2=date(2015,8,11)
delta=date2-date1
num_days=delta.days
print('Number of days between', date1, 'and', date2,'is:',num_days)

Number of days between 2015-08-02 and 2015-08-11 is: 9

# Problem 5:
### Python program to solve (x + y) * (x + y).

In [ ]:
def evaluation(x, y):
    result = (x * x) + (2 * x * y) + y * y
    return result

x = int(input('x = '))
y = int(input('y = '))
print(f"({x} + {y})^2 = {evaluation(x, y)}")

x = 4
y = 8
(4 + 8)^2 = 144

# Problem 6:
### Python program to compute the future value of a specified principal amount, rate of interest, and number of years

In [ ]:
def total_amount(principal, interest_rate, time_period):
    
    # formulae for calculating the total amount is 'principal * (1 + (interst_rate / 100)) ** 7'
    amount = principal * (1 + (interest_rate / 100)) ** 7
    return amount

principal = float(input('amt = '))
interest_rate = float(input('int = '))
time_period = float(input('years = '))

print("%0.2f" % total_amount(principal, interest_rate, time_period))

amt = 10000
int = 3.5
years = 7
12722.79

# Problem 7:
### Python program that removes duplicate elements from a given array of numbers so that each element appears only once and returns the new length of the array

In [ ]:
def unique_list(my_list):
    new_unique_list = []
    
    for item in my_list:
        if item not in new_unique_list:
            new_unique_list.append(item)
    
    return new_unique_list
print('Enter the number in the list separating by \'space\': ')
my_list = list(map(int, input().split()))
print('The list of unique numbers: ' ,unique_list(my_list))
print('length of the unique list: ', len(unique_list(my_list)))

Enter the number in the list separating by 'space':
The list of unique numbers:  [1, 2, 3, 4, 5]
length of the unique list:  5

# Problem 8:
### Python program to sort (ascending and descending) a dictionary by key value.

In [ ]:
def dict_sort(my_dict):
    ascending_sort = sorted(my_dict)
    descending_sort = sorted(my_dict, reverse=True)
    return ascending_sort, descending_sort

my_dict = {'Red': 5, 'Apple': 9, 'Orange': 4, 'Mango': 10, 'Strawberry': 2}
ascending_dict, descending_dict = dict_sort(my_dict)
print('Ascending sort: ', ascending_dict)
print('Descending sort: ', descending_dict)

Ascending sort:  ['Apple', 'Mango', 'Orange', 'Red', 'Strawberry']
Descending sort:  ['Strawberry', 'Red', 'Orange', 'Mango', 'Apple']



# Problem 9:
### Python program to add key to a dictionary

In [ ]:
def add_key(my_dict, key, value):
    my_dict[key] = value
    return my_dict

my_dict = {0: 10, 1: 20}
# key = int(input('Eneter the key'))
# value = int(input('Eneter the value'))
key = 2
value = 30
add_key(my_dict, key, value)

{0: 10, 1: 20, 2: 30}

# Problem 10:
### Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels

In [ ]:
exam_data = {
    'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels =  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes